<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >

  <link rel="stylesheet" href="/css/style.css">

  <title><%= title %></title>
</head>

<body>
  <%- include("../partials/navbar") %>

  <main>
    <h1>
      <%= statusCode %> - <%= title %>
    </h1>

    <p>
      <%= message %>
    </p>

    <a href="/">
      Return to Home
    </a>

    <a href="/items">
      Browse Clothing
    </a>
  </main>
    <%- include("../partials/footer") %>
</body>
</html>